<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.diturrizaga.easypay">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".rabbitMQTest.RabbitMQActivity">
        </activity>
        <activity android:name=".ui.SuccessfulOperationActivity">
        </activity>
        <activity android:name=".ui.ProfileActivity">
        </activity>
        <activity android:name=".ui.LoadingActivity">
        </activity>
        <activity android:name=".ui.AuthenticationActivity">
        </activity>
        <activity android:name=".ui.withdrawal.GenerateQrTestActivity">
        </activity>
        <activity android:name=".ui.withdrawal.WithdrawalScannedActivity">
        </activity>
        <activity android:name=".ui.withdrawal.WithdrawalGenerateQrActivity">
        </activity>
        <activity android:name=".ui.withdrawal.WithdrawalRecentActivity">
        </activity>
        <activity android:name=".ui.payment.PaymentRecentActivity">
        </activity>
        <activity android:name=".ui.payment.PaymentAddActivity">
        </activity>
        <activity android:name=".ui.transfer.TransferAddActivity">
        </activity>
        <activity android:name=".ui.transfer.TransferRecentActivity">
        </activity>
        <activity android:name=".ui.SelectAccountActivity">
        </activity>
        <activity android:name=".ui.withdrawal.WithdrawalSelectAmountActivity">
        </activity>
        <activity android:name=".ui.withdrawal.WithdrawalAddActivity">
        </activity>
        <activity android:name=".ui.withdrawal.WithdrawalScanQrActivity">
        </activity>
        <activity android:name=".ui.launcher.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.AccountDetailActivity">
        </activity>
        <activity android:name=".ui.home.HomeActivity">
        </activity>
        <activity android:name=".ui.MainActivity">
        </activity>
    </application>
</manifest>